.playButton {
  height: 150px;
  font-size: 110px;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  background-color: lightsteelblue;
}

.Lobby-main {
  display: flex
}

.Lobby-main__pastggames {
  margin-left: 10px;
  font-size: 25px;
  margin-top: 10px;
}

.Lobby-main__pastggames ul {
  list-style: none;
  margin: 5px;
  margin-left: -40px;
}

.Lobby-main__pastggames li {
  font-size: 18px;
}

.Lobby-main__playbutton {
  display: flex;
  flex-direction: column;
}