.Login {
  display: flex;
  flex-direction: column;
  width: 350px;
  background: antiquewhite;
  border: 2px solid aquamarine;
  border-radius: 15px;
  margin: auto;
  margin-top: 15px;
  padding: 15px;
}

.Login-input {
  height: 25px;
  border-radius: 5px;
  font-size: 18px;
}



.Login-inputs {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.Login-buttons {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: 15px;
}

.Login-buttons button {
  height: 25px;
}

.Login-flashMessage {
  border: 2px solid red;
  background-color: brown;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}